.jumbotron {
	background-color: yellow;
	color: black;
}
.btn {
	background-color: green
}
.footer {
	padding: 10 px 10px 10px;
	background-color: yellow;
	margin-bottom: 8px;
}
.card-hotel{
		flex: 1 150px;
		padding: 2px 2px 2px 2px;
		
}
.btn-reserva{
	width: 100%;
	
}